<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Raspuino, connecting arduino + raspberry pi + web">
        <meta name="keywords" content="arudino,raspberrypi,automation">
        <meta name="author" content="Mikael Norrman">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/lib/bootstrap.min.css" />
        <link rel="stylesheet" href="css/lib/bootstrap-theme.min.css" />
        <link rel="stylesheet" href="css/lib/nouislider.min.css" />
        <link rel="stylesheet" href="css/lib/nouislider.pips.css" />
        <link rel="stylesheet" href="css/lib/nouislider.tooltips.css" />

        <link rel="stylesheet/less" type="text/css" href="css/raspuino.less" />
        <link rel="stylesheet/less" type="text/css" href="css/panel.less" />
        <link rel="stylesheet/less" type="text/css" href="css/led.less" />

        <script data-main="js/setup" src="js/lib/require.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    Raspuino
                </a>
            </div>
            <div class="collapse navbar-collapse" id="collapsable-navbar">
                <ul class="nav navbar-nav">
                    <li><a href="">Sensors</a></li>
                    <li><a href="">Controls</a></li>
                </ul>
            </div>
        </nav>
        <div class="page-container">
            <div id="root"></div>
        </div>
    </body>
</html>
