.panel-body-cell(@width: 50%) {
	display: table-cell;
	width: @width;
}

.panel-body {
	display: table;
	width: 100%;

	.left-column {
		.panel-body-cell();
	}

	.right-column {
		.panel-body-cell();
	}
}