@background_left_blue: #6994C5;
@background_right_blue: #AAC8EA;
@color_gray: #888888;
@border_color_gray: #BBBBBB;

body {
	margin: 0;
	padding: 0;
	border: 0;

	background: linear-gradient(90deg, @background_left_blue, @background_right_blue);
	font-family: 'Open Sans', serif;
	font-size: 16px;
	line-height: 1.8;
}

.squared-number {
	border: 1px solid @border_color_gray;
	padding: 1px 3px;
	color: #004d13;
	background-color: white;
}

.gray {
	color: @color_gray;
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
      display: inline-block;
      float: none;
      vertical-align: top;
    }

    .navbar .navbar-collapse {
      text-align: center;
    }
}